<h1>Create a book</h1>
<div class="create-book-form">
  <form action="/create-book" method="POST">
    <label
      >Title:
      <input type="text" name="title" placeholder="book title" required />
    </label>

    <label
      >Author
      <input type="text" name="author" placeholder="author's name" required />
    </label>

    <label
      >Genre:
      <input
        type="text"
        name="genre"
        placeholder="fantasy/horror/..."
        required
      />
    </label>

    <label
      >Picture:
      <input
        type="text"
        name="bookCover"
        placeholder="input picture URL here"
      />
    </label>

    <label
      >Plot:
      <textarea
        name="plot"
        placeholder="paste plot in here"
        required
      ></textarea>
    </label>

    <label
      >ISBN:
      <input type="text" name="isbn" placeholder="1234567891234" required />
    </label>
    <button>Create book entry</button>
  </form>
</div>
