<h1>Create a book</h1>

<form action="">
  <label required>Title:</label>
  <label required>Author</label>
  <label required>Genre:</label>
  <label required>Picture:</label>
  <label required>Plot:</label>
  <label required>ISBN:</label>
</form>
