<h3>Profile Page</h3>

<% if(user) { %>
<h2>Welcome, <%= user.username %>!</h2>
<p>This is your profile page my friend!</p>
<% } else { %>
<p>Still not logged in user, sorry!</p>
<% } %>

<button>
  <a href="/create-book">Create Book</a>
</button>
