<h3>Profile Page</h3>

<% if(user) { %>
<h2>Welcome, <%= user.username %>!</h2>
<p>This is your Bookworms profile page!</p>
<% } else { %>
<p>Still not logged in user, sorry!</p>
<% } %>

<button>
  <a href="/create-book">Create Book</a>
</button>

<button>
  <a href="/update-profile/<%= user._id %>">Update Profile</a>
</button>

<form action="/auth/<%= user._id %>" method="POST">
  <button type="submit">Delete Profile</button>
</form>

<form id="logout-form" action="/logout" method="POST">
  <button>Logout</button>
</form>


  <h3>Personal Book list</h3>
  <ul>
    <% let index = 0 %> 
    <% for (index; index < user.books.length; index +=1) {%>
    <li><%= user.books[index].title %></li>
    <% } %>
  </ul>
</div>
