<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="navbar">
      <div class="brand-title">
        <a href="/">
          <img
            src="/images/bookworms_logo_small.png"
            alt="Bookworms Logo"
            margin-left="10"
            height="35"
            loading="lazy"
          />
        </a>
        <p id="brand-name">Bookworms Club</p>
      </div>
      <!--<div class="brand-name">Bookworms Club</div> -->
      <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <div class="navbar-links">
        <ul>
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/profile">Profile Page</a></li>
          <li><a href="/create-book">Create a book</a></li>
          <li><a href="/books-list">Book list</a></li>
        </ul>
      </div>
    </nav>
    <div>
      <form class="search-bar" role="search" action="/search" method="POST">
        <input
          name="search"
          id="search-input"
          type="search"
          placeholder="  Search Books"
          aria-label="Search"
        />
        <button class="search-btn" type="submit">Search</button>
      </form>
    </div>
    <%- body %>

    <script src="/js/script.js"></script>
  </body>
</html>
